/* override border colour on global breadrumb */
#global-breadcrumb ol {
  border-top-color: #097F96;
  border-bottom: 1px solid #BFC1C3;
}
.performance-platform-outer {
    border-top: 0;
}

main#content header p.explanatory,
#content header p.explanatory {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  width: 65.625%;
  margin-bottom: 0;
}